*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

/* =================
    Header 
   ================= */

.site-header {
    position: sticky;
    top: 0;
    padding: 0.5em 1em;
    background-color: white;
    border-bottom: 1px solid #cacaca;
}

.logo-img {
    width: 170px
}

.nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

#main-nav {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

#main-nav.nav-open {
    max-height: 250px;
}

nav a {
    color: #090909;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    padding: 0.5em 0;
    border-bottom: 1px solid #CACACA;
}

/* MEDIA QUERY */

@media (min-width: 480px) {
    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em 1.5em;
    }

    .nav-toggle {
        display: none;
    }

    #main-nav {
        position: relative;
        max-height: 30px;
        overflow: auto;
        display: flex;
        width: fit-content;

    }


    ul {
        width: fit-content;
        display: flex;
        gap: 1em;
    }

    li {
        border: none;
    }
}





/* =================
    Main Element Layout 
   ================= */

main {
    padding: 1em;
    margin: 0 auto;
    max-width: 980px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



@media (min-width: 480px) {

}



/* =================
    Article Card 
   ================= */






/* =================
    Typography 
   ================= */





/* =================
    Images 
   ================= */









/* =================
    Miscellaneous 
   ================= */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}