*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

/* =================
    Header 
   ================= */

.site-header {
    position: sticky;
    top: 0;
    padding: 0.5em;
    padding-inline: 1em;
    background-color: white;
    border-bottom: 1px solid #cacaca;
}

.site-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 170px
}

.nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

#main-nav {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

#main-nav.nav-open {
    max-height: 250px;
}

nav a {
    color: #090909;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    padding: 0.5em 0;
    border-bottom: 1px solid #CACACA;
}

/* MEDIA QUERY */

@media (min-width: 480px) {
    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1.5em;
    }

    .nav-toggle {
        display: none;
    }

    #main-nav {
        position: relative;
        max-height: none;
        overflow: auto;
        display: flex;
        width: fit-content;

    }

    ul {
        display: flex;
        gap: 1em;
    }

    li {
        border: none;
    }
}





/* =================
    Main Elements Layout 
   ================= */

footer {
    padding: 1.5em;
    margin-top: 4em;
    background-color: #191d16;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.socials {
    font-size: 2rem;
    color: white;
}

.socials a:visited {
    color: inherit;
}



/* =================
    Main Article Card 
   ================= */

.main-article {
    width: 100%;
}

.main {
    padding: 5rem 1rem 1rem 1rem;
    background: white url("../images/blog-image-hero.png");
    background-size: cover;
    display: flex;
    align-items: end;
}

@media (min-width: 480px) {

    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 980px;
    }

    .main {
        height: 490px;
        background: white url("../images/img-main.png");
        background-size: auto;
        background-position: center;
    }

    .main-article-content {
        max-width: 500px;
        padding: 0 0 2.5rem 1rem;
    }

}



/* =================
    Soon Article Cards 
   ================= */

.coming-soon-article {
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.soon-article {
    flex: 1 240px;
}  

.soon-title {
    display: block;
    width: 100%;
    margin-top: 1em;
}

.soon-article-content img {
    width: 100%;
}

@media (min-width:1024px) {
    .coming-soon-article {
        padding: 0;
    }

    .main-article {
        margin-top: 2em;
    }
    
}

/* =================
    Sub pages
   ================= */

.article, .about {
    background-image: url(../images/bg-grid-tile.png);
    background-repeat: repeat;
}

.article-page, .intro, .manifesto {
    background-color: white;
    padding: 1em;
}

.article header {
    display: block;
}

.article img {
    width: 100%;
    height: 240px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.article-body {
    padding: 1em 0;
}

.about-img {
    width: 182px;
    height: 182px;
}

.back-btn {
    display: none;
}

@media (min-width: 480px) {

    .article, .about {
        padding: 1em 0 2em 0;
    }

    .article-page {
        padding: 0;
    }

    .article header {
        display: flex;
        align-items: stretch;
    }

    .article img {
        max-width: 446px;
        min-width: 200px;
        min-height: 482px;
        height: auto;
    }

    .article-header-content {
        padding: 3em 2em;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .article-body, .manifesto {
        padding: 2em;
    }


    .intro {
        display: flex;
        gap: 2em;
        align-items: center;
    }

    

    .back-btn {
        display: block;
        max-width: 980px;
        margin: auto;
        cursor: pointer;
        margin-bottom: 1em;
    }
}

/* =================
    Typography 
   ================= */

main a {
    text-decoration: none;
}

.main-article-content {
    color: white;
}


h2 {
    font-family: 'Playfair', serif;
    font-size: 2rem;
    line-height: 1.25;
    margin: 0.25em 0;
}

time {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 1.5;
}

p {
    font-size: 1rem;
    line-height: 1.625;
    margin: 0.5em 0 1em 0;
}

.soon-article-content {
    color: #090909;
}

.soon-title {
    font-size: 1.5rem;
    font-style: italic;
}


h3 {
    font-size: 1.5rem;
    margin: .5em 0 0 0;
}


/* =================
    Miscellaneous 
   ================= */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.soon-article-content img {
    width: 100%;
    height: 232px;
    object-fit: cover;
    object-position: center;
}